h1, h2, h3 {
    font-family: sans-serif;
}

h1 {
    background-color: black;
    color: white;
}

h1 span {
    color: skyblue
}

h2 {
    background-color: rebeccapurple;
    color: aliceblue;
    text-align: center;
    font-style: italic;
}

h3 {
    background-color: skyblue;
    text-align: right;
    text-decoration: underline;
}